/* Link colours */
a {
  color: #d9230f;
  text-decoration: none;
}

a:hover, a:focus {
  color: #91170a;
  text-decoration: underline;
}


.nav>li>a {
  font-size: 14px !important;
}

/* Columns and formatting */
.center {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cols3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.cols2 {
  float: left;
  width: 50%;
  padding: 5px;
}

.cols2, .cols3 p{
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}